*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 700px;
    height:450px ;
    
    background-image: url(https://t4.ftcdn.net/jpg/11/85/42/59/360_F_1185425921_NyASVK9THM8gnT0dy1vAaZh01UXxpg39.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 120px;
    left: 30%;
    
    
}




.one{
    width: 490px;
    height:300px ;
    background-color: rgb(53, 53, 113);
    margin-left: 120px;
    position:relative ;
    top: 16%;
    color: aliceblue;
    text-align: right;
   
}





.d{
     clip-path: circle(61.4% at 18% 51%);
    background-color: coral;
    height: 300px;
    width: 250px;
    position: absolute;
    bottom: 18%;
    left: 17%;
}




/* .one{
    height: 100%;
    width: 350px;
    clip-path: circle(54.0% at 9% 52%);
    background-color: coral;
} */






