body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  display: flex;
}

.container{
   display: flex;
   min-height: 100vh;
}



.one{
    width:500px;
    height: 800px;
    background: #3C4BFF;
    color: white;
    padding: 40px;
}

.two{
    width: 60%;
    padding: 60px;
}

.one h4{
   color: azure;
   position: relative;
   top: 1%;

}

#p1{
   position: relative;
   top: 80px;
}

.chlid{
   height: 170px;
   width: 400px;
   background-color: rgb(58, 58, 251);
   position: relative;
   top: 20%;
   padding: 20px;
   

}

.chlid img{
   height: 90px;
   width: 90px;
   border: #1a1f59;
   padding: 10px;
}
 


@media (min-width: 730px) {
   
}





















